/*footer section*/
#footer-section {
  display: flex;
  justify-content: space-between; /*균등 분배*/
}

.footer-li-left,
.footer-li-right {
  display: inline-block;
  width: 50%;
}

.footer-li-left {
  padding-left: 2%;
}

.footer-li-right {
  text-align: right;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-listitem-center {
  list-style: none;
}
.otott-footer-image {
  width: 30px;
  height: auto;
  content: url(../images/otott-logo/footer_image.png);
  margin-bottom: -4px;
  margin-left: 10px;
}

#footer-copyrights span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap; /*텍스트의 줄 바꿈을 제어*/
}
#footer-otott-name-logo {
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.footer-listitem-left {
  text-align: left;
  list-style: none;
}

.footer-listitem-right {
  list-style: none;
  padding-right: 5%;
}

.footer-listitem-left li:nth-child(2n + 1),
.footer-listitem-right li:nth-child(2n + 1) {
  color: rgb(160, 158, 158);
  font-size: 13px;
}

.footer-listitem-left li:nth-child(2n) {
  margin: 10px 0; /*right 와 높이 맞추기 위해*/
  font-size: 14px;
}

.footer-listitem-right li:nth-child(2n) {
  font-size: 14px;
}

#footer-github-icon {
  width: 25px;
  height: 25px;
  /*logo 가운데 위치*/
  margin-left: auto;
  margin-right: auto;
}

.footer-li-content-ott {
  display: inline-block;
  margin: 0 1px;
}

.footer-ott {
  margin: 1px;
  width: 25px;
  height: 25px;
}
