* {
  margin: 0;
  padding: 0;
  font-family: ‘맑은 고딕’, ‘Malgun Gothic’, Gothic, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  width: 100%;
  margin: 0 auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
  display: flex;
}
/* 고정바 고정바 고정바 고정바 고정바 고정바  */
#main-navigation {
  /*border-bottom: 1px solid black;*/
  height: 80px;
  background-color: rgb(38, 20, 61);
}
.nav-logo-mini {
  float: left;
  position: relative;
  line-height: 80px;
  text-align: center;
  font-size: xx-large;
  padding-left: 20px;
}
.otott_logo {
  width: 120px;
  height: auto;
  content: url(../images/otott-logo/otott_logo.png);
}
.nav-menu {
  visibility: hidden;
}
.nav-menu-item {
  height: 80px;
  float: left;
  position: relative;
}
.nav-menu-item:hover {
  background: rgb(164, 175, 249);
  color: white;
}
.nav-menu-title {
  display: block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: 0px 60px;
  margin-top: 20px;
  font-size: large;
}
.menu-title {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 5px 20px;
}
.nav-search-bar {
  display: inline-block;
  height: 40px;
  padding: 7px;
  margin-top: 20px;
}
.input-search {
  display: block;
  float: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 180px;
  height: 24px;
  padding: 0 0 0 10px;
  font-size: 15px;
  color: #555555;
}
.input-search:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.input-search-submit {
  display: block;
  float: left;
  width: 50px;
  height: 26px;
  border-radius: 0 15px 15px 0;
  border: 1px solid #cccccc;
  margin-left: -1px;
  vertical-align: top;
  display: inline-block;
}

@media (max-width: 1091px) {
  body {
    width: 1091px;
  }
}
