/* 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더 헤더   */
#main-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(48, 7, 92);
  padding-bottom: 10px;
}
.main-logo {
  width: 100px;
  height: 70px;
  content: url(../images/otott-logo/main_otott.png);
}

#main-section {
  background-color: rgb(48, 7, 92);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-top-aside {
  width: 700px;
  background-color: rgb(48, 7, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25%;
}
.aside-menu-item {
  float: left;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.aside-menu-item:hover {
  background: rgb(128, 137, 194);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.aside-menu-item.aside-menu-item-cur {
  background: rgb(164, 175, 249);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*메뉴 메뉴 메뉴 메뉴 메뉴*/
#menu-article {
  background-color: rgb(48, 7, 92);
  padding-bottom: 50px;
  height: 459.5px;
  text-align: center;
}
.menu-container {
  width: 700px;
  height: 210px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 25%;
  background-color: white;
}
.top-container {
  border-radius: 10px 10px 0px 0px;
  border-top: 5px solid rgb(164, 175, 249);
  border-left: 5px solid rgb(164, 175, 249);
  border-right: 5px solid rgb(164, 175, 249);
}
.bottom-container {
  border-radius: 0px 0px 10px 10px;
  border-bottom: 5px solid rgb(164, 175, 249);
  border-left: 5px solid rgb(164, 175, 249);
  border-right: 5px solid rgb(164, 175, 249);
}
.info-box-top {
  height: 150px;
  width: 200px;
  background-color: rgb(128, 137, 194);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 40px;

  background-size: 82%;
  background-position: center;
}
